<div class="content">
  <button onclick={{action 'same' 0 0 0}}>Black</button>
  <button onclick={{action 'same' 200 200 200}}>White</button>
  <button onclick={{action 'same' 128 0 255}}>Bright-Sea</button>
  <button onclick={{action 'same' 32 0 42}}>Dark-Sea</button>
</div>